<% const date = new Date(); let year = date.getFullYear(); %>
<footer>
    <p class="copyright">
        &copy; <%= year %>, All rights reserved. 
    </p>
</footer>
<script src="/public/js/main.js"></script>