<header>
    <span id="logo">
        <a href="/" title="Return to home page"><img src="/img/logo.png" alt="Fruit Life logo"></a>
    </span>

    <% if (user) { %>
        <span id="user">
            <a href="/profile"><img id="profile" src=<%= profilePicture %> alt="user_img"></a>
        </span>
    <% } else { %>
        <div id="login">
            <a href="/login">Login</a>
        </div>
    <% } %>
</header>