<div id="login-box">
    <div id="message">
        <p><%= message %></p>
    </div>
    <div id="form-background">
        <form action="" method="post">
            <h1>Login</h1>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Entrar</button>
            <p>Não tem uma conta? <a href="/register">Registre-se aqui</a></p>
        </form>
    </div>
</div>