<div id="presentation">
    <h1>Bem vindo ao Fruit Life!</h1>
    <div id="banner">
        <img src="/img/fruit-banner.jpeg" alt="banner"/>
        <div>
            <h2>Está cançado de buscar a sua fruta favorita em varios mercados?</h2>
            <p>Fruit Life é um site onde se pode comprar as suas frutas sem precisar sair de casa.</p>
        </div>
    </div>
</div>
    <div id="most-sold">
        <h2>Frutas mais vendidas</h2>
        <div id="fruits">
            <div class="main-fruit">
                <img src="/img/strawberry.jpeg" alt="fruta1">
                <h3>Morango</h3>
                <p>Descrição da fruta</p>
            </div>
            <div class="main-fruit">
                <img src="/img/banana.jpeg" alt="fruta1">
                <h3>Banana</h3>
                <p>Descrição da fruta</p>
            </div>
            <div class="main-fruit">
                <img src="/img/mango.jpeg" alt="fruta1">
                <h3>Manga</h3>
                <p>Descrição da fruta</p>
            </div>
        </div>
        <div id="ranking">
            <a href="/">Veja o ranking das frutas!</a>
        </div>
    </div>