<div id="presentation">
    <h1>Bem vindo ao Fruit Life!</h1>
    <div id="banner">
        <img src="/img/fruit-banner.jpeg" alt="banner" />
        <div>
            <h2>Está cançado de buscar a sua fruta favorita em varios mercados?</h2>
            <p>Fruit Life é um site onde se pode comprar as suas frutas sem precisar sair de casa.</p>
        </div>
    </div>
</div>
<div id="most-sold">
    <h2>Frutas mais vendidas</h2>
    <div id="fruits">
        <% fruits_for_sale.forEach(fruit=> { %>
            <div class="main-fruit-background">
            <div class="main-fruit">
                <img src="<%= fruit.fruit_img %>" alt="<%= fruit.fruit_name %>">
                <h3>
                    <%= fruit.fruit_name %>
                </h3>
                <p>
                    Preço: <%= fruit.fruit_price %>
                </p>
            </div>
            </div>
        <% }) %>
    </div>
    <div id="ranking">
        <a href="/">Veja o ranking das frutas!</a>
    </div>
</div>