<div>
    <h1>Perfil</h1>
    <div id="profile-picture">
        <img src="user Img" alt="Sua foto">
    </div>
    <div id="profile-info">
        <h2>
            Nome do usuário e sobre nome do usuário
        </h2>
        <p>Email: </p>
        <p>Endereço: </p>
        <button id="edit-user">Editar Perfil</button>
    </div>
</div>