@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
}

p, img, a, span, li {
    font-family: 'Nunito', sans-serif;
}

main {
    background-color: #ffeca2;
}

/* Main page */

body {
    background-color: #6DE1D2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

#logo img {
    width: 50px;
}

#profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #FF7878;
}

nav {
    background-color: #FF7878;
    padding: 10px;
    text-align: center;
}

#nav-arrow{
    width: 30px;
    height: 30px;
    transform: rotate(0deg); 
    transition: transform 0.5s ease; 
}

nav:hover #nav-arrow {
    transform: rotate(180deg); 
}

nav:not(:hover) #nav-arrow {
    transform: rotate(0deg); 
}

nav li:nth-child(1) {
    display: block;
}


/* Key frame for the arrow animation on navigation bar */
@keyframes nav-arrow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); } 
}

nav li {
    display: none;
}

#presentation {
    background-color: #ffeca2;
    padding: 20px;
}

#presentation h1 {
    margin: 20px 0px;
}

#banner {
    background-color: #FFB46B;
    border: 5px solid #FF7878;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 450px;
    margin: auto;
}

#banner img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

#banner h2 {
    text-align: center;
    margin: 10px 0px;
}

#banner p {
    text-align: center;
    margin: 10px 0px;
}

#most-sold {
    background-color: #FFB46B;
    padding: 20px;
}

#most-sold h2 {
    margin: 20px 0px;
}

#fruits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#fruits .main-fruit {
    background-color: #FF7878;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 250px;
    margin: auto;
}

.main-fruit-background {
    position: relative;
    z-index: 0;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.main-fruit img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    border:7px inset #ff5f5f;
}

.main-fruit h3 {
    text-align: center;
    margin: 10px 0px;
}

.main-fruit p {
    text-align: center;
    margin: 10px 0px;
}

/* Border animation for the fruits in the main page */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.main-fruit-background::after, .main-fruit-background::before {
    content: '';
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    background-color: #FF7878;
    background-image: conic-gradient(from var(--angle), #FF7878, #FFB46B, #6DE1D2, #FF7878);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 20px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.main-fruit-background::before {
    filter: blur(10px);
}

#ranking {
    background-color: #FFB46B;
    padding: 20px;
}

footer {
    padding: 20px;
}

/* CSS for the login page */

#login-box {
    background-color: #ffeca2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #FFB46B;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    max-width: 330px;
    width: 75vw;
}

/* CSS for the register page */

#register-box {
    background-color: #ffeca2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS for the secret messages */

#message {
    background-color: #FF7878;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: rgb(255, 243, 243);
    text-align: center;
}

/* Border animation for the forms */

#form-background {
    position: relative;
    z-index: 0;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#form-background::after, #form-background::before {
    content: '';
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    background-color: #FF7878;
    background-image: conic-gradient(from var(--angle), #808080, #afafaf, #ffffff, #808080);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 20px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

#form-background::before {
    filter: blur(10px);
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.form-group {
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
}

input {
    font-family: 'Nunito', sans-serif;
    padding: 7px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Fira Sans', sans-serif;
    padding: 14px;
    background-color: white;
    border-radius: 10px;
}

/* Profile page */

#profile-container {
    background-color: #ffeca2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
}

#edit-form {
    margin: auto;
}

#profile-picture {
    margin: 20px auto;
}

#profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #FF7878;
}

#profile-info {
    background-color: #FFB46B;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

#profile-info h2 {
    margin-bottom: 10px;
}

#profile-info p {
    margin: 10px 0px;
}

#edit-user {
    margin: 20px auto;
}

@media (min-width: 560px) {
    
    /* Change the navbar when screen is bigger then 560px */

    nav {
        display: block;
        background-color: #FF7878;
        padding: 10px;
        text-align: center;
    }

    #navBar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li:has(#nav-arrow){
        display: none;
    }

    nav li {
        display: block;
        padding: 10px;
        margin: 0 5vw 0px 5vw;
        transition: background 0.2s;
        cursor: pointer;
    }

    /* Profile Page */
}

@media (min-width: 768px) {
    
}